/* universal styles */

html {
  font-family: 'EB Garamond', serif;
  color: blue;
}

a {
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  font-weight: bold;
}

a:active {
  color: white;
}
